<h2>Colegios</h2>
<div id="searchBoxes">
  <button type="button" ng-click="collapsed=!collapsed" class="btn btn-link btn-sm">Add New Task <i class="fa fa-minus-square-o" ng-show="collapsed"></i><i class="fa fa-plus-square-o" ng-hide="collapsed"></i></button>
  <form class="form-horizontal well" ng-show="collapsed">
    <div class="form-group">
        <label for="inputSelect" class="col-sm-4 control-label">Campo de busqueda</label>
        <div class="col-sm-4">
          <select class="form-control" ng-model="colegio.selBusquedaAvanzada">
            <option value="nombreColegio">Nombre Colegio</option>
            <option value="codigoMen">Código MEN</option>
            <option value="nombreDepartamento">Departamento</option>
            <option value="nombreMunicipio">Municipio</option>
            <option value="secretaria">Secretaría</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputBuscar" class="col-sm-4 control-label">Texto busqueda</label>
        <div class="col-sm-4">
          <input type="text" id="inputBuscar" class="form-control" placeholder="Ingrese acá el texto de busqueda" ng-model="colegio.txtBusquedaAvanzada" >
        </div>

      </div>
      <button type="button" class="btn btn-primary" ng-click="">Buscar <i class="fa fa-search"></i></button>
  </form>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr> 
        <!--<th>ID</th>-->
        <th>
          <button type="button" ng-click="pendings.order('name')" class="btn btn-default">NAME <i class="fa fa-sort"></i></button><br>
          <input type="text" class="form-control" ng-model="pendings.filter.name">
        </th>
        <th>
          <button type="button" ng-click="pendings.order('dueDate')" class="btn btn-default">Due Date <i class="fa fa-sort"></i></button><br>
          <input type="text" class="form-control" ng-model="pendings.filter.dueDate">
          </th>
          <th>
          <button type="button" ng-click="pendings.order('priority')" class="btn btn-default">Priority <i class="fa fa-sort"></i></button><br>
          <input type="text" class="form-control" ng-model="pendings.filter.priority">
        </th>
      </tr> 
    </thead> 
    <tbody> 
      <tr ng-repeat="pending in pendings.pendings | filter:pendings.filter | orderBy:pendings.predicate:pendings.reverse" > 
        <!--<td>{{col._id}}</td>-->
        <td>{{pending.name}}</td>
        <td>{{pending.dueDate}}</td>
        <td>{{pending.priority}}</td>
        <td><button type="button" ng-click="" class="btn btn-link"><i class="fa fa-pencil"></i></button><button type="button" ng-click="" class="btn btn-link"><i class="fa fa-trash"></i></button></td>
      </tr> 
    </tbody>
  </table>
</div>