<h2>Overdue Tasks</h2>
<div id="searchBoxes">
  <button type="button" ng-click="collapsed=!collapsed" class="btn btn-link btn-sm">Add New Task <i class="fa fa-minus-square-o" ng-show="collapsed"></i><i class="fa fa-plus-square-o" ng-hide="collapsed"></i></button>
  <form class="form-horizontal well" ng-show="collapsed">
      
      <div class="form-group">
        <label for="inputName" class="col-sm-4 control-label" >Name</label>
        <div class="col-sm-4">
          <input type="text" id="inputName" class="form-control" placeholder="Task description" ng-model="overdues.task.name" required="required" >
        </div>
      </div>

      <div class="form-group">
        <label for="inputDueDate" class="col-sm-4 control-label">Due Date</label>
        <div class="col-sm-4">
          <input type="date" id="inputDueDate" class="form-control" min="2016-03-01" placeholder="yyyy-MM-dd" ng-model="overdues.task.dueDate" required="required" >
        </div>
      </div>

      <div class="form-group">
        <label for="selPriority" class="col-sm-4 control-label">Priority</label>
        <div class="col-sm-4">
          <select id="selPriority" class="form-control" ng-model="overdues.task.priority" required="required" >
            <option value="1" selected="selected" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary" ng-click="overdues.save()">Save <i class="fa fa-floppy-o"></i></button>
        </div>

      </div>
      
  </form>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr> 
        <!--<th>ID</th>-->
        <th>
          <button type="button" ng-click="overdues.order('name')" class="btn btn-default">Name <i class="fa fa-sort"></i></button><br>
          <input type="text" class="form-control" ng-model="overdues.filter.name">
        </th>
        <th>
          <button type="button" ng-click="overdues.order('dueDate')" class="btn btn-default">Due Date <i class="fa fa-sort"></i></button><br>
          <input type="text" class="form-control" ng-model="overdues.filter.dueDate">
          </th>
          <th>
          <button type="button" ng-click="overdues.order('priority')" class="btn btn-default">Priority <i class="fa fa-sort"></i></button><br>
          <input type="text" class="form-control" ng-model="overdues.filter.priority">
        </th>
      </tr> 
    </thead> 
    <tbody> 
      <tr ng-repeat="overdue in overdues.overdues | filter:overdues.filter | orderBy:overdues.predicate:overdues.reverse" > 
        <!--<td>{{col._id}}</td>-->
        <td><span class="overdue-task">{{overdue.name}}</span></td>
        <td><span class="overdue-task">{{overdue.dueDate}}</span></td>
        <td><span class="overdue-task">{{overdue.priority}}</span></td>
        <td>
          <a href="/#/{{overdue._id}}/edit" class="btn btn-link"><i class="fa fa-pencil"></i></a>
          <button type="button" ng-click="overdues.delete(overdue._id)" class="btn btn-link"><i class="fa fa-trash"></i></button></td>
      </tr> 
    </tbody>
  </table>
</div>